{% extends "base.html" %}

{% block announce %}
  <!-- Add announcement here, including arbitrary HTML -->
  <span class="twemoji">{% include ".icons/octicons/heart-24.svg" %}</span> &nbsp; <b>Welcome to the first CC Ansible Hackathon!</a></b>
{% endblock %}

{% block content %}

{% if page.url_to_print_page %}
    <a href="{{ page.url_to_print_page }}" title="Print Site" class="md-content__button md-icon">
        {% include ".icons/material/file-pdf-box.svg" %}
    </a>
{% endif %}

{{ super() }}
{% endblock content %}
